<div>
    <h1>Hero Form</h1>
    <form
        (ngSubmit)="onSubmit(heroForm)"
        #heroForm="ngForm"
        autocomplete="off">
        <div class="form-group">
            <h3>@Datatype</h3>
            <ngx-label-for
                [model]="model"
                [field]="'heroPic'"></ngx-label-for>
            <ngx-input-for
                [model]="model"
                name="heroPic"
                style="height: 100px; width: 100px"
                [(ngModel)]="model.heroPic"></ngx-input-for>
            <hr>
            <h3>ngx-validator</h3>
            <ngx-label-for
                [model]="model"
                [field]="'heroName'"></ngx-label-for>
            <input
                name="heroName"
                id="heroName"
                [(ngModel)]="model.heroName"
                class="form-control"
                [ngx-validator]="model">
            <ngx-validator-for
                [errors]="heroForm.controls['heroName']?.errors"
                class="text-danger"></ngx-validator-for>
            <hr>
            <h3>ngx-input-for</h3>
            <ngx-label-for
                [model]="model"
                [field]="'age'"></ngx-label-for>
            <ngx-input-for
                [model]="model"
                name="age"
                class="form-control"
                [(ngModel)]="model.age"></ngx-input-for>
            <ngx-validator-for
                [errors]="heroForm.controls['age']?.errors"
                class="text-danger"></ngx-validator-for>
            <hr>
            <h3>ngx-input-for</h3>
            <ngx-label-for
                [model]="model"
                class="control-label"
                [field]="'heroName'"></ngx-label-for>
            <ngx-input-for
                [model]="model"
                name="heroName"
                class="form-control"
                [(ngModel)]="model.heroName"></ngx-input-for>
            <ngx-validator-for
                [errors]="heroForm.controls['heroName']?.errors"
                class="text-danger"></ngx-validator-for>
            <hr>
            <h3>@CreditCard</h3>
            <ngx-label-for
                [model]="model"
                [field]="'creditCard'"></ngx-label-for>
            <ngx-input-for
                [model]="model"
                name="creditCard"
                class="form-control"
                [(ngModel)]="model.creditCard"></ngx-input-for>
            <ngx-validator-for [errors]="heroForm.controls['creditCard']?.errors" class="text-danger"></ngx-validator-for>
            <hr>
            <h3>Custom template</h3>
            <ngx-label-for
                [model]="model"
                [field]="'power'"></ngx-label-for>
            <ngx-input-for
                [model]="model"
                name="power"
                class="form-control"
                [(ngModel)]="model.power">
                <ng-template
                    ngxCustomTemplateFor
                    let-model>
                    <select
                        [(ngModel)]="model.power"
                        name="power"
                        class="form-control">
                        <option
                            *ngFor="let c of listItems"
                            [ngValue]="c.value">
                            {{c.text}}
                        </option>
                    </select>
                </ng-template>
            </ngx-input-for>
            <ngx-validator-for
                [errors]="heroForm.controls['power']?.errors"
                class="text-danger"></ngx-validator-for>
        </div>
        <button
            type="submit"
            class="btn btn-success">
            Submit
        </button>
    </form>
    <hr>
    <h2>ngx-form-for</h2>
    <ngx-form-for
        [model]="model"
        [autoComplete]="'off'"
        [cssClasses]="classesForForm"
        (submitForm)="submitValue($event)">
        <ng-template
            ngxCustomTemplateFor="power"
            let-data>
            <select
                [(ngModel)]="data.model.power"
                name="power"
                class="form-control">
                <option
                    *ngFor="let c of listItems"
                    [ngValue]="c.value">
                    {{c.text}}
                </option>
            </select>
            <ngx-validator-for
                *ngIf="data.form.controls['power']"
                [errors]="data.form.controls['power'].errors"></ngx-validator-for>
        </ng-template>
        <ng-template
            ngxCustomTemplateFor="age"
            let-data>
            <h4>{{data.model.age}}</h4>
        </ng-template>
    </ngx-form-for>
</div>
