<div>
  <h1>Hero Form</h1>

  <form (ngSubmit)="onSubmit()" #heroForm="ngForm" autocomplete="off">
    <!-- <div class="form-group">
      <ngx-label-for [model]="model" [field]="'heroName'"></ngx-label-for>
      <input type="text" name="heroName" class="form-control" id="heroName" [(ngModel)]="model.heroName" #heroName="ngModel"  [ngx-validator]="model"/>
      <ngx-validator-for [errors]="heroName.errors"></ngx-validator-for>

      <ngx-label-for [model]="model" [field]="'heroName'"></ngx-label-for>
      <ngx-input-for [model]="model" name="heroName" [(ngModel)]="model.heroName"></ngx-input-for>
      <ngx-validator-for [errors]="heroForm.controls['heroName']?.errors"></ngx-validator-for>

      <ngx-label-for [model]="model" [field]="'age'"></ngx-label-for>
      <ngx-input-for [model]="model" name="age" [(ngModel)]="model.age" #age="ngModel"></ngx-input-for>
      <ngx-validator-for [errors]="age.errors"></ngx-validator-for>

      <ngx-label-for [model]="model" [field]="'creditCard'"></ngx-label-for>
      <ngx-input-for [model]="model" name="creditCard" [(ngModel)]="model.creditCard" #creditCard="ngModel"></ngx-input-for>
      <ngx-validator-for [errors]="creditCard.errors"></ngx-validator-for>

      <ngx-label-for [model]="model" [field]="'creditCard'"></ngx-label-for>
      <input type="text" class="form-control" id="creditCard" [(ngModel)]="model.creditCard" name="creditCard" #creditCard="ngModel" [ngx-validator]="model"/>
      <ngx-validator-for [errors]="creditCard.errors"></ngx-validator-for>

      <ngx-label-for [model]="model" [field]="'alterEgo'"></ngx-label-for>
      <ngx-input-for [model]="model" name="alterEgo" [(ngModel)]="model.alterEgo"></ngx-input-for>
      <ngx-validator-for [errors]="heroForm.controls['alterEgo']?.errors"></ngx-validator-for>
    </div> -->

    <!-- <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" required [(ngModel)]="model.alterEgo" name="alterEgo"  #alterEgo="ngModel" >
      <div [hidden]="alterEgo.valid || alterEgo.pristine" class="alert alert-danger">
        Valid email is required
      </div>
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" [(ngModel)]="model.power" name="power" #pwr="ngModel" [ngx-validator]="model">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
      <ngx-validator-for [errors]="pwr.errors"></ngx-validator-for>
    </div> -->

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.valid">Submit</button>
  </form>


  <ngx-form-for [model]="model" (submitForm)="submitValue($event)">

    <ng-template ngxCustomTemplateFor="power" let-data>
      <kendo-dropdownlist [data]="listItems" [textField]="'text'" [valueField]="'value'" name="power" [(ngModel)]="data.model.power"
        [valuePrimitive]="true">
      </kendo-dropdownlist>
      <ngx-validator-for *ngIf="data.form.controls['power']" [errors]="data.form.controls['power'].errors"></ngx-validator-for>

    </ng-template>

    <!-- <ng-template ngxCustomTemplateFor="age" let-data>
      <h4>{{data.model.age}}</h4>
    </ng-template> -->
    
  </ngx-form-for>

</div>