.ng-valid:not(form), .ng-valid.required  {
    border: 1px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border: 1px solid #a94442; /* red */
  }

  .ngx-input {
    padding: 0;
    border: 0px solid transparent; /* red */
    display: inline-table;
}