.ng-valid:not(form), .ng-valid.required  {
    border: 1px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border: 1px solid #a94442; /* red */
  }

  .ngx-label {
    border: 1px solid black;
    border-radius: 3px;
}

form-control:ng-invalid {
  border-color: #dc3545;
}
