.ng-valid:not(form), .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}

form-control:ng-invalid {
border-color: #dc3545;
}
.ngx-dropdown {
padding: 0;
display: inline-table;
}
.ngx-dropdown-child {
box-sizing: border-box;
width: inherit;
height: inherit;
padding: 0!important;
border: 0 transparent!important;
outline: none!important;
box-shadow: none!important;
}

.ngx-input {
padding: 0;
display: inline-table;
}
.ngx-input-child {
box-sizing: border-box;
width: inherit;
height: inherit;
padding: 0!important;
border: 0 transparent!important;
outline: none!important;
box-shadow: none!important;
}
.ngx-input-child-image {
height: 100px;
width: 100px;
}



.boldoption {
	font-weight: bold;
}